<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVICE_HASH</key>
	<string>6edc18ab1a954d230c1f03c590d469d2</string>
	<key>SERVICE_API_KEY</key>
	<string>080a502746c8a60aeab043387a56eef0</string>
	<key>TIME_STAMP</key>
	<string>1</string>
</dict>
</plist>
